{#
{% extends '@App/layoutAdmin.html.twig' %}

{% block title %} GRid {% endblock %}

{% block body %}
    <div class="starter-template">
        {{ grid(grid) }}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}#}
