{% extends template %}

{% block title %} Cartridges {% endblock %}

{% block body %}
    <div class="starter-template">
        <h1>Перечень моделей картриджей используемых на предприятии:</h1>
        <hr>

        {% for cartridge in cartridges %}
        <a href="{{ path('cartridge_item', { id: cartridge.id }) }}">Картридж {{ cartridge.cartridgeModel }}</a> <br>

        {% endfor %}

        <h1>На данный момент в наличии:</h1>
        <hr>
        {% for cartridgeExist in cartridgesExist %}
        <a href="{{ path('cartridge_item', { id: cartridgeExist.id }) }}">Картридж {{ cartridgeExist.cartridgeModel }}</a> <br>
        {% endfor %}

    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}