{% extends template %}

{% block title %} Cartridge page {% endblock %}

{% block body %}

    <h1>Картридж: {{ cartridge.cartridgeModel }}</h1>
    <hr>
    Подходит для принтера :
    {% for printer in printers %}
    {{ printer.printerModel }} ,
    {% endfor %}
    <br>
    Комментарий :{{ cartridge.discription }}




{% endblock %}