{% extends '@App/layout.html.twig' %}

{% block title %} Cartridge page {% endblock %}

{% block body %}

    <h1>Картридж: {{ cartridge.cartridgeModel }}</h1>
    <hr>
    Подходит для принтера :{{ cartridge.printModel.printerModel }}<br>
    Комментарий :{{ cartridge.discription }}




{% endblock %}