{% extends '@App/layoutAdmin.html.twig' %}

{% block title %} GRid {% endblock %}

{% block body %}
    <div class="starter-template">

        {{ grid(grid, _self) }}
        <hr>
        {{ grid_search(grid) }}
        {% block grid_filters %}{% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}