{% extends '@App/layout.html.twig' %}

{% block title %} Cartridges {% endblock %}

{% block body %}
    <div class="starter-template">
        {{ param }}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}