{% extends '@App/layout.html.twig' %}

{% block title %} Departure page {% endblock %}

{% block body %}

   <h1>Оформить заявку на выезд</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}