{% extends '@App/layoutUser.html.twig' %}

{% block title %} Repair page {% endblock %}

{% block body %}

   <h1>Оформить заявку на ремонт техники</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}