{% extends '@App/layout.html.twig' %}

{% block title %} Service page {% endblock %}

{% block body %}

   <h1>Вы выбрали  {{ service }}</h1>

    {#{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}#}

{% endblock %}