{% extends '@App/layoutAup.html.twig' %}


{% block title %}   Home {% endblock %}

{% block body %}
  <div class="starter-template">
    <h1>ОГУП "Липецкоблводоканал"</h1>
    <p class="lead">Добрый день.</p>
  </div>
  <br>
{% endblock %}

{% block stylesheets %}
  <style>

  </style>
{% endblock %}